@{
    ViewBag.Title = "О проекте";
}
<h1>@ViewBag.Title</h1>
<hr />

<div class="col-md-12">
    <p>Веб-приложение разрабатывалось в рамках курсового проекта по дисциплине "Управление данными".</p>
    <p>Сайт предоставляет пользователям информацию о фильмах и людях, которые принимали участие в создании этих фильмов.</p>
</div>


<h3>Учебник</h3>
<div class="col-md-12">
    <ul>
        <li><a href="http://metanit.com" target="_blank">METANITT.COM: сайт о программировании, про создание сайтов и IT-технологии</a></li>
    </ul>
</div>

<h3>Дизайн</h3>
<div class="col-md-12">
    <ul>
        <li><a href="http://bootswatch.com" target="_blank">Bootswatch.com: Free themes for Bootstrap</a></li>
    </ul>
</div>

<h3>Разработчики</h3>
<p>Проектирование и разработка: <a href="http://ssolopchenko.ru" target="_blank">Солопченко Святослав</a></p>
